### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.pem
Iac-DEV
Iac-DEV.pub
Iac-Prod
Iac-Prod.pub
/env/Dev/Iac-DEV
/env/Dev/Iac-DEV.pub
/env/Prod/IaC-Prod.pub
/env/Prod/Iac-Prod
